<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <p class="home-text">Too Many Packages. Not Enough Time.</p>
            <h1 class="home-title">Widefield Way:<br/> Parcel Panic</h1>
            <p>Keep the system running —<br class="desk"/> or watch it fall apart.</p>
        </div>
    </div>
</section>
<section class="blue-section">
    <article class="organized-section" id="organized">
        <div class="container organized-container">
            <div class="organized-wrapper">
            <h2>Organized Chaos</h2>
            <p>Basically, Parcel Panic is all about keeping things organized when everything's trying to fall apart. Packages arrive
            with different destinations, speeds, and priorities. The player doesn’t control the flow — they react to it, redirect
            it, and try to keep everything moving efficiently. There’s no “perfect run.” The goal is to last longer, manage better,
            and improve decision-making under pressure.</p>
        </div>
        <picture>
            <source srcset="
                        /img/organized/desk.png 1x,
                        /img/organized/desk@2x.png 2x
                                     " media="(min-width: 1440px)" />
            <source srcset="
                        /img/organized/mob.png 1x,
                        /img/organized/mob@2x.png 2x
                                    " media="(max-width: 1439px)" />
            <img src="/img/organized/mob.png" alt="Widefield Way: Parcel Panic" loading="lazy" />
        </picture>
        </div>
    </article>
    <article class="how-section" id="how">
        <div class="container how-container">
            <div class="how-wrapper">
                <h2>How the Gameplay Feels</h2>
                <p class="how-text">Instead of describing mechanics as a list, this section should communicate the experience:</p>
                <p>At first, everything seems manageable — a few packages, simple routes, clear decisions. But very quickly, new layers
                appear. Routes intersect. Speeds increase. Mistakes start to stack. Players begin to rely on instinct rather than
                thinking through every move. That’s where the game becomes engaging — in that space between control and chaos.</p>
            </div>
                    <picture>
            <source srcset="
              /img/how/desk.png 1x,
               /img/how/desk@2x.png 2x
                " media="(min-width: 1440px)" />
            <source srcset="
                /img/how/mob.png 1x,
                /img/how/mob@2x.png 2x
                 " media="(max-width: 1439px)" />
            <img src="/img/how/mob.png" alt="Widefield Way: Parcel Panic" loading="lazy" />
        </picture>
        </div>
    </article>
</section>